<!DOCTYPE html>
<html>
<head>
    <title>ROV Control</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>ROV Control</h1>

    <img src="/video_feed" width="640">

    <div id="controls">
        <button onclick="toggleMotor('forward')">Forward</button>
        <button onclick="toggleMotor('vertical')">Vertical</button>
        <button onclick="toggleMotor('yaw')">Yaw</button>

        <button onclick="fetch('/cal_depth')">Zero Depth</button>
    </div>

    <div id="logs"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>
